* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    background: #FBFBFB;
    color: #0a192f;
    line-height: 1.6;
}

/* shared style */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    background-color: #4a8c6f;
    color: white;
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #28b960;
}


/* Main style */


.navbar {
    
    width: 100%;
    display: flex;
    justify-content: space-around;;
    align-items: center;
    padding: 10px;
}

.logo-navbar {
    align-items: center;
    width: 139px;
    height: 60px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    font-weight: 500;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
}

.nav-links li a:hover {
    color: #4a8d64;
}

.hero-section {
    position: relative;
    height: 674px;
    background: url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 20px;
}

.hero-content {
    max-width: 80%;
}

.badge {
    display: inline-flex;
    width: fit-content;
    background-color: white;
    padding: 5px 20px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}
.dot {
  height: 12px;
  width: 12px;
  background-color: #30B868;
  border-radius: 50%;
  display: inline-block;
  margin-right: 12px;
  position: relative;
}
.dot::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #2e7d324d;
  border-radius: 50%;
}
.text {
  color: #30B868;
  font-weight: 500;
  font-size: 16px;
}

.hero-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    align-items: center;
}

.highlight {
    color: #4db373;
}

.hero-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #d1d5db;
    margin-bottom: 35px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btns {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.btn-primary {
    background-color: #4a8d64;
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    display: flex;
    
}
.ArrowRight-image {
    width: 20px;
    height: 20px;
    margin: 0;
    padding-left: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn-primary:hover {
    background-color: #3a704f;
}
.btn-secondary {
    border: 1px solid white;
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
}
.btn-secondary:hover {
    background: #3a704f;
}

.play-icon {
    font-size: 12px;
}
.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 80px 20px;
}

.header {
    text-align: center;
    margin-bottom: 60px;
}

.header h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #001931;
}

.header p {
    font-size: 16px;
    color: #627382;
    font-weight: 400;
}

.problem-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 120px;
}

.card {
    background: #fff;
    padding: 40px 20px;
    text-align: center;
    border: 1px solid #f0f0f0;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.icon-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}


.red-bg {
    background-color: #F95555; 
}

.icon-circle img {
    width: 24px;
    filter: brightness(0) invert(1); 
}

.card h3 {
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    color: #001931;
}

.card p {
    font-size: 16px;
    color: #627382;
    font-weight: 400;
    line-height: 20px;
}
.solution-container {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}
.solution-visual {
    flex: 1;
    min-width: 300px;
    text-align: center;
}
.solution-visual img {
    max-width: 100%;
}
.solution-text {
    flex: 1;
    min-width: 300px;
}
.label {
    color: #30B868;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
}

.solution-text h2 {
    font-size: 48px;
    margin: 15px 0;
    line-height: 1.2;
    font-weight: 700;
    color: #001931;
}
.solution-text p {
    margin-bottom: 40px;
    color: #627382;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
}
.benefit-list {
    list-style: none;
}
.benefit-list li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 20px;
}
.benefit-list img {
    width: 20px;
    margin-right: 12px;
}
.cta-box {
    background-color: #F7F6F2;
    padding: 60px 40px;
    border-radius: 16px;
    text-align: center;
}

.cta-box h2 {
    font-size: 40px;
    margin-bottom: 16px;
    color: #001931;
    font-weight: 700;
}
.cta-box p {
    color: #627382;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

}
.cta-box .small-text {
    font-size: 16px;
    margin-bottom: 80  px;
    line-height: 20px;
    color: #627382;
    font-weight: 400;
}
.cta-note {
    font-size: 12px;
    color: #888;
}
.footer {
    background-color: #001931;
    padding: 120px 0 0 0;
}

.footer-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    margin-bottom: 40px;
}
.footer-logo img {
    height: 60px; 
}
.footer-social h4 {
    font-size: 20px;
    color: #FFFFFF;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: left;
}
.social-icons {
    display: flex;
    gap: 15px;
}
.social-icons img {
    width: 20px;
    background: #fff;
    height: 20px;
    border-radius: 50%;
    transition: opacity 0.3s;
}

.social-icons img:hover {
    opacity: 0.8;
}

.footer-divider {
    border: none;
    border-top: 1px solid #24394E;
    margin-bottom: 30px;
}
.footer-bottom {
    text-align: center;
}
.footer-bottom p {
    font-size: 16px;
    color: #FAFAFA;
    letter-spacing: 0.5px;
    padding-bottom: 30px;
    font-weight: 400;
    line-height: 24px;
}